@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.header {
  display: flex;
  height: 40vh;
  margin-bottom: 2em;
  flex-direction: column;
  background: url("../img/header.jpg") 90% 40%;
  justify-content: center;
  align-items: center;

  &__subtitle {
    z-index: 2;
    font-family: $font-title;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__title {
    z-index: 2;
    font-family: $font-title;
    font-size: 3em;
  }
}

.protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.buttons {
  display: flex;
  margin-right: $gutter;
  margin-left: $gutter;
  text-align: center;
  justify-content: space-between;

  .button {
    height: auto;
    padding: 10px 20px;
    font-family: $font-title;
    font-size: 2em;
    font-weight: bold;
    background-color: $background-color;
    border-radius: 15px;
  }
}

.button:hover {
  background-color: $hover-color;
}

@media (min-width: 800px) {
  .buttons {
    display: block;
    justify-content: none;
  }

  .button:nth-child(2) {
    margin: 0 1.5em;
  }
}

.grid__row {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid__col {
  width: 100%;
}

.list {
  margin-right: $gutter;
  margin-bottom: 2*$gutter;
  margin-left: $gutter;
}

.card {
  margin-top: 2em;
  background-color: $background-color;

  &__title {
    font-family: $font-title;
    font-size: 2em;
  }

  &__subtitle {
    font-family: $font-title;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__text {
    padding: 10px;
  }
}

@media (min-width: 800px) {
  .grid__col {
    width: 50%;
  }

  .grid__row {
    flex-direction: row;
  }

  .buttons {
    .button {
      font-size: 1em;
    }
  }

  .list {
    margin-right: 0;
  }

  .card {
    height: 95%;
    margin-right: $gutter;
  }

  .card__image {
    height: 74%;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 20vh;

    &__title {
      font-size: 2em;
    }
  }

  .protection {
    height: 20vh;
  }

  .grid__col {
    width: 33.3333333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .list {
    margin-right: -10px;
    margin-left: -10px;
  }

  .card {
    margin-right: 0;
  }

  .card__image {
    height: 70%;
  }
}

.card:hover {
  background-color: $hover-color;
}

.card__image {
  width: 100%;
}

.card__img {
  width: 100%;
}

// TODO import
