@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $font-main;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.header {
  display: flex;
  height: 40vh;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #999;

  &__subtitle {
    z-index: 2;
    display: flex;
    font-family: $font-title;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__title {
    z-index: 2;
    display: flex;
    font-family: $font-title;
    font-size: 3em;
  }

  &__img {
    position: absolute;
    display: flex;
    width: 100%;
    height: 40vh;
  }
}

.protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.buttons {
  display: flex;
  margin-right: $gutter;
  margin-bottom: $gutter;
  margin-left: $gutter;
  text-align: center;
  justify-content: space-between;

  .button {
    height: auto;
    padding: 10px 20px;
    font-family: $font-title;
    font-size: 2em;
    font-weight: bold;
    background-color: $background-color;
    border-radius: 15px;
    transition: background-color 300ms ease-in-out;
  }
}

.button:hover {
  background-color: $hover-color;
}

.button--clicked {
  height: auto;
  padding: 10px 20px;
  font-family: $font-title;
  font-size: 2em;
  font-weight: bold;
  background-color: #2d2;
  border-radius: 15px;
}

@media (min-width: 800px) {
  .buttons {
    display: block;
    justify-content: none;
  }

  .button:nth-child(2) {
    margin: 0 1.5em;
  }

  .button--clicked:nth-child(2) {
    margin: 0 1.5em;
  }
}

.grid__row {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid__col {
  width: 100%;
  margin-bottom: $gutter;
}

.list {
  margin-right: $gutter;
  margin-bottom: 2*$gutter;
  margin-left: $gutter;
}

.card {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: $background-color;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $hover-color;
  }
}

.card:link {
  color: #000;
  text-decoration: none;
  background-color: $background-color;
}

.card:visited {
  color: #000;
}

.card__title {
  font-family: $font-title;
  font-size: 2em;
}

.card__subtitle {
  font-family: $font-title;
  font-size: 1em;
  text-transform: uppercase;
}

.card__text {
  flex: 1;
  padding: 10px;
}

.card__bottom {
  display: flex;
}

.card__tickbox {
  display: flex;
  padding-right: $gutter/2;
  font-size: 2em;
  font-weight: bold;
  color: #2d2;
}

.card__finished {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__finished--hidden {
  display: none;
}

@media (min-width: 800px) {
  .grid__col {
    width: 50%;
    padding-right: $gutter;
  }

  .grid__row {
    flex-direction: row;
  }

  .buttons {
    .button {
      font-size: 1em;
    }

    .button--clicked {
      font-size: 1em;
    }
  }

  .list {
    margin-right: 0;
  }

  .card__image {
    display: flex;
    height: 70%;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 20vh;

    &__title {
      font-size: 2em;
    }

    &__img {
      height: 20vh;
    }
  }

  .protection {
    height: 20vh;
  }

  /* .list {
    margin-right: 0;
    margin-left: 0;
  } */

  .grid__col {
    width: 33.3333333%;
  }

  .card {
    margin-right: 0;
  }
}

.card__image {
  display: flex;
  flex: 1;
}

.card__img {
  width: 100%;
}

@media (min-width: 800px) {
  .lecture__main {
    margin-right: 17%;
    margin-left: 17%;
  }
}

@media (min-width: 1250px) {
  .lecture__main {
    margin-right: 18.5%;
    margin-left: 18.5%;
  }
}

@media (min-width: 1400px) {
  .lecture__main {
    margin-right: 21.5%;
    margin-left: 21.5%;
  }
}

@media (min-width: 1500px) {
  .lecture__main {
    margin-right: 23%;
    margin-left: 23%;
  }
}

.lecture-page {
  padding-right: $gutter;
  padding-left: $gutter;
}

.video__wrapper {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 53%; /* 16:9 */
  margin-bottom: $gutter;

  .lecture__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.lecture__text {
  margin-bottom: $gutter;
}

.lecture__quote {
  display: flex;
  padding: $gutter;
  margin-bottom: $gutter;
  flex-direction: column;
  background-color: $background-color;
}

.quote__cite {
  padding-top: $gutter;
}

.figure {
  margin-bottom: $gutter;

  .lecture__image {
    width: 100%;
  }
}

.lecture__heading {
  margin-top: $gutter;
  margin-bottom: $gutter;
  font-family: $font-title;
}

.lecture__pre {
  margin-bottom: $gutter;
}

.lecture__list {
  margin-bottom: $gutter;
}

.lecture__litem {
  margin-bottom: $gutter;
}

.lecture__footer {
  display: flex;
  margin-top: 2*$gutter;
  margin-bottom: 2*$gutter;
  flex-direction: column;
  align-items: center;
}

.lecture__button {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: $font-title;
  font-size: 1em;
  cursor: pointer;
  background: none;
  border: 0;
}

.finished {
  color: #2d2;
}

.lecture__link {
  display: flex;
  margin-top: $gutter;
  font-family: $font-title;
  color: #000;
  text-decoration: none;
}
