@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  // font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.header {
  display: flex;
  height: 40vh;
  margin-bottom: 1.5em;
  flex-direction: column;
  background: url("../img/header.jpg") 90% 40%;
  justify-content: center;
  align-items: center;

  &__subtitle {
    z-index: 2;
    color: #000;
    text-transform: uppercase;
  }

  &__title {
    z-index: 2;
    color: #000;
  }
}

.protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons {
  display: flex;
  margin-right: $gutter;
  margin-left: $gutter;
  text-align: center;
  justify-content: space-between;

  .button {
    height: auto;
    padding: 5px;
    font-size: 1em;
    background-color: $background-color;
    border-radius: 5px;
  }
}

.grid__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid__col {
  flex-direction: column;
}

.cards {
  width: 100%;
  margin-top: 1.5em;
  margin-right: $gutter;
  margin-left: $gutter;
}

.card {
  width: 100%;
  background-color: $background-color;
}

// TODO import
